*{
    margin: 0;
    padding: 0;

    }
    ol, ul {
        list-style: none;
    }
    
body{
    background-color:#48D1CC ;
}

img{
    width: 20%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

p{
    font-family: 'Silkscreen', cursive;
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.5;
}

h1,h2{
    font-family: 'Staatliches', cursive;
    font-size: 3em;
    text-align: center ;
    margin-bottom: 1%;
    margin-top: 1%;
}

.menu{
    text-align: center;
    font-size: 25px;
}

.menu ul li {
    line-height: 1.5;
}

.video{

    text-align: center;
    width: 50%;
    float: left;
    margin-bottom: 2%;
}


footer{
    background-color: rgb(0,255,255);
    clear: both;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
}

header{

    background-color: rgb(0,255,255);
    text-align: center;
    padding: 1%;
}

footer p{

    text-align: center;
}

/* unvisited link */
a:link {
    color: rgb(0, 60, 255);
    font-family: 'Staatliches', cursive;
    font-weight: bolder;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 60, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: #fff;
    background-color: black;
    padding: 0.7%;
    border-radius: 25px;
    
  }
  
  /* selected link */
  a:active {
    color: rgb(4, 4, 4);
  }
  .ani{
    width: 300px;
    height: 800px;
    background-color: rgb(0, 60, 255);
    margin-bottom: 2%;
    margin-top: 2%;
    transition: width 2s;
  }

  .ani:hover{
    width: 800px;
    
  }